body {
	font-family: 'Ubuntu', sans-serif;
	line-height: 1em;
	margin: 0 auto;
	width: 670px;
}
body header {
	background-color: #E6E6E6;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
} 
.selected {
	background-color: #DBDBFF !important;
	color: #00264D !important;
}
.bg-light {
	background-color: #00264D !important;
	border-radius: 8px;
}
.navbar-light .navbar-nav .nav-link {
	color: #E6E6E6;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
	color: #DBDBFF;
}
.navbar-light .navbar-nav .style{
	border-right: 2px solid #E6E6E6;
	border-radius: 1px;
}
.prim-color {
	color: #00264D;
}
.sec-color {
	color: #444A50;
}
.sec-link-color {
	color: #FAFAFA;
}
.sec-link-color:hover {
	color: #DBDBFF;
}
#about {
	background-color: #FAFAFA;
	padding-top: 10px;
}
#skills {
	background-color: #FAFAFA;
}
#about .row h3,
#skills .row h3 {
	background-color: #00264D;
	color: #E6E6E6;
	text-align: center;
	transform: skew(-20deg);
}
#about .row .col-8 {
	flex: 0 0 66.66%;
	max-width: 66.66%;
}
#about .row .col-8  hr,
#skills .row .col-8 hr {
	border-top: 5px solid #00264D;
}
#about .row .col-4 span {
	display: block;
	font-size: .75em;
	padding-left: 30px;
}
.mail:hover,
.mail:focus {
	color: #00264D;
}
.profile {
	width:100%;
    height:110px;
    border-right: 5px solid #00264D;
    padding-right: 0px;
    display:flex;
    justify-content:center;
    align-items:baseline;
    overflow:hidden
}
.profile img {
	flex-shrink:0;
    -webkit-flex-shrink: 0;
    max-width:100%;
    min-height:100%;
}
.icons {
	font-size: 2em;
	padding-top: 30px;
	padding-left: 30px;
}
.icons a {
	color: #00264D;
}
.lead {
	font-size: .75em;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#skills-name .col-3 h6 {
	padding-top: 10px;
	text-align: center;
	color: #00264D;
}
.title-hr .col-8 hr {
	border-top: 5px solid #FAFAFA;
}
.li-spacing {
	padding-bottom: 10px;
}
#experience {
	padding-top: 20px;
}
#experience,
#education,
#projects,
#language,
#certificate {
	background-color: #00264D;
}
#experience .row .col-8,
#education .row .col-8,
#projects .row .col-8,
#language .row .col-8,
#certificate .row .col-8 {
	flex: 0 0 66.66%;
	max-width: 66.66%;
}
#experience .row h3,
#education .row h3,
#projects .row h3,
#language .row h3,
#certificate .row h3 {
	margin-bottom: 20px;
	background-color: #FAFAFA;
	color: #00264D;
	text-align: center;
	transform: skew(-20deg);
}
#experience .row ul,
#education .row ul,
#projects .row ul,
#language .row ul,
#certificate .row ul {
	color: #FAFAFA;
}
#experience .row ul li,
#education .row ul li,
#projects .row ul li,
#language .row ul li,
#certificate .row ul li {
	font-size: .78em;
	font-weight: bold;
}
#experience .row ul p,
#education .row ul p,
#projects .row ul p,
#language .row ul p,
#certificate .row ul p {
	padding-top: 8px;
	font-size: .75em;
}
#language,
#certificate {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 175px;
  width: 70px;
  height: 70px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #545454;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#back-to-top:hover {
  color: #545454;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#back-to-top:focus {
  color: #545454 !important;
}
#back-to-top .svg-inline--fa {
  color: #545454;
  font-size: 60px;
  opacity: 0.7;
}
@media print {
	body header {
	background-color: #E6E6E6;
	width: 100%;
	padding-top: 0;
	padding-bottom: 10px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	} 
}
@media print {
	h1 {
		margin-bottom: 0;
	}
}
@media print {
	header h4 {
		display: inline;
	}
}
@media print {
	#experience .row h3,
	#education .row h3,
	#projects .row h3,
	#language .row h3 {
		margin-bottom: 0;
	}
}
@media print {
	p {
		margin-bottom: 0;
	}
}
@media print {
	.profile {
		height: 200px;
	}
}
@media print {
	.icons {
		padding-top: 70px;
	}
}
@media print{
	#experience {
		padding-top: 15px;
	}
}
@media print {
	#language {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
}
@media print {
	#back-to-top i {
		display: none;
	}
}
@media print {
	.lead {
		font-size: 1.15em;
		line-height: 1.2em;
	}
}
@media print {
	@page {
  		size: a4 portrait;
	}
}
@media print {
	@page {
  		margin: 0;
	}
}
