@media screen and (max-width: 550px) {
#about, #contact {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background: #e8d9bd url("//c1.staticflickr.com/1/794/40090836935_56bf009c29_b.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
@media screen and (min-width: 550px) {
body {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background: #e8d9bd url("//c1.staticflickr.com/1/783/40983913401_fd0315cd7b_b.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
.wrapper {
  overflow-x:hidden
}
/*Brand color*/
.navbar-inverse .navbar-brand {
  font-family: 'Bungee Inline', cursive;
  color: #666633;
  font-size: 25px;
  padding-top: 0;
  padding-bottom: 0;
}
/*Brand hover color*/
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #666633;
}
/*Brand and links verical alignment*/
.navbar-nav li a,
.navbar-brand {
  line-height: 80px;
}
/*Navbar button  alignment*/
.navbar-toggle {
  margin-top: 20px;
}
/*Navbar color*/
.navbar-inverse {
  border: 1.25px solid #666633;
  border-radius: 15px;
  background-color: #c4be91;
  min-height: 80px;
  margin-top; 1.5px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}
.navbar.hide-nav {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
/*Navbar links color*/
.navbar-inverse .navbar-nav li a {
  font-family: 'Bungee Inline', cursive;
  color: #666633;
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
/*Navbar links hover color*/
.nav-links li:hover,
.nav-links li:focus {
  background-color: #7a6c6c;
	-webkit-transition: all 0.5s ease;
  margin-left: 7px;
  margin-right: -2px;
  border: 1px;
  border-radius: 3px;
  margin-top: 0px;
  overflow: hidden;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active {
  border: 1px;
  border-radius: 3px;
  overflow: hidden;
}
.navbar-inverse .navbar-nav>li>a:focus {
  color: #666633;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: 1px #c4be91;
}
/*Navbar links spacing*/
.nav li a {
  padding: 10px 20px;
}
.navbar-brand {
  margin-left: 15px;
}
.navbar-right {
  margin-right: 15px;
}
/*About section header styling*/
#about>.container {
  margin-top: 80px;
  margin-bottom: 20px;
}
#about .pic {
  margin-top: 8%;
}
.head1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 7vw;
  margin-bottom: 20px;
  text-align: left;
  color: white;
}
/*Paragraph font and positioning styling*/
.par1 {
  font-size: 1.4em;
  text-align: left;
  color: white;
}
.par2 {
  font-size: 1.4em;
  text-align: left;
  color: white;
  border-left: 5px solid white;
  border-radius: 10px;
  padding-left: 15px;
}
.par3 {
  font-size: 1.4em;
  text-align: left;
  color: white;
}
.hr1 {
  border: 3px solid white;
  border-radius: 5px;
  max-width: 60%;
  align: left;
  margin-top: 25px;
}
.skills {
  font-size: 1.41em;
  font-weight: bold;
  text-align: center;
  color: white;
}
@media screen and (min-width: 1200px) {
.profilepic {
  display: block;
  border: 2px solid #666633;
  border-radius: 10%;
  margin: 30px auto 25px auto;
  width: 60%;
}
}
@media screen and (max-width: 1200px) {
.profilepic {
  display: block;
  border: 2px solid #666633;
  border-radius: 10%;
  margin: 30px auto 25px auto;
  width: 40%;
}
}
#portfolio {
  padding-bottom: 40px;
}
.portfoliosec {
  background-color: #c4be91;
  border: 1.25px solid #666633;
  border-radius: 15px;
}
.portfTitle {
  font-family: 'Bungee Inline', cursive;
  color: #666633;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 40px;
}
.hr2 {
  border: 2px solid #666633;
  border-radius: 5px;
  max-width: 50%;
  margin-bottom: 50px;
}
#portfolio .col-lg-6 div {
  border: 1px solid #666633;
}
@media screen and (max-width: 550px) {
.site {
  text-align: center;
  height: 231px;
  margin-bottom: 20px;
}
}
@media screen and (min-width: 550px) {
.site {
  text-align: center;
  height: 347px;
  margin-bottom: 20px;
}
}
/* .site a:after {
  content: '\A';
  position: absolute;
  width: 96.5%; height:100%;
  top:0; left:1.22em;
  background:rgba(0,0,0,0.2);
  border: 1px solid transparent;
  border-radius: 4px;
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all .75s;
}
.site a:hover:after {
  opacity: .55; */
}
.site a {
  display: block;
  width: 100%;
  height: 100%;
}
.site a img {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #666633;
  border-radius: 4px;
}
/*Contact Me Section*/
#contact {
  padding-top: 20px;
  padding-bottom: 20px;
}
.contactmTitle {
  font-family: 'Bungee Inline', cursive;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.hr3 {
  border: 2px solid #c4be91;
  border-radius: 5px;
  max-width: 50%;
  align: center;
  margin-bottom: 50px;
}
/*Centering container div for form*/
.center {
  text-align: center;
  margin-bottom: 5px;
  width: auto;
}
.center form{
  display: inline-block;
}
.extend {
  width: 300px;
}
textarea {
  resize: none;
}
label {
  display: none;
}
/*Placeholder color*/
.extend::-webkit-input-placeholder { /* Chrome */
  color: #c4be91;
  opacity: 1;
}
.extend:-ms-input-placeholder { /* IE 10+ */
  color: #c4be91;
}
.extend::-moz-placeholder { /* Firefox 19+ */
  color: #c4be91;
  opacity: 1;
}
.extend:-moz-placeholder { /* Firefox 4 - 18 */
  color: #c4be91;
  opacity: 1;
}
::-webkit-input-placeholder { /* Chrome */
  color: #c4be91;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.7;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c4be91;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.7;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c4be91;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.7;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #c4be91;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.7;
}
/*Button styling*/
.btn-default {
  width: 200px;
  color: #666633;
}
.btn-default:hover {
  background-color: #c4be91;
  color: white;
  text-decoration: none;
	-webkit-transition: all 0.5s ease;
}
.button {
  display: inline-block
}

/*Footer styling*/
#topfooter {
  background-color: #c4be91;
  width: 100%;
  height: 80px;
  margin: 0px;
  padding: 0px;
}
/*Footer text styling*/
.socialtxt {
  font-family: 'Bungee Inline', cursive;
  font-size: 1.2em;
  color: #666633;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
/*Social media links styling*/
.sociallinks {
  display: inline-block;
  float: right;
}
footer li {
  display: inline-block;
  font-size: 2em;
}
.social {
  color: #666633;
  height: 80px;
  padding-left: .1em;
  padding-right: .1em;
  margin: 0px;
}
.social:hover {
  color: white !important;
  background-color: #7a6c6c;
  text-decoration: none;
	-webkit-transition: all 0.5s ease;
  border: 1px;
  border-radius: 15%;
}
.social:visited {
  color: #666633;
}
.media {
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.div1 {
  display: inline-block;
  line-height: 80px;
  height: 80px;
  width: 50%;
  float: left;
}
